---
---
@import "minima";
@import "header";
@import "footnotes";
@import "margin-notes";

/* =========================
   Layout / Page skeleton
   ========================= */
html,
body {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

h1 {
    font-family: "Noto Serif Display", serif;
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-family: "Noto Serif Display", serif;
    font-weight: 800;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

h3 {
    font-family: "Noto Serif Display", serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 5px;
    border-bottom: 0.5px solid #000;
}


p a {
  color: rgb(0, 121, 130);
}
p a:hover {
    color: rgb(156, 203, 206) !important;
  text-decoration: none !important;
  transition: linear 0.1s;
}

@supports (height: 100svh) {
  body { min-height: 100svh; }
}

.page-content {
  flex: 1;
  padding-top: 0;
}

.page-content,
.site-footer {
  max-width: 100%;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

img,
iframe,
pre,
code {
  max-width: 100%;
  box-sizing: border-box;
}

/* =========================
   Links
   ========================= */
.site-title, .site-title:visited {
  font-family: 'Noto Serif Display';
  font-weight: 800;
  font-size: 2.2rem;
  color: #000;
  align-items: baseline;
}

/* =========================
   Footer
   ========================= */
.site-footer {
  margin-top: auto;
  border: none;
  // font-family: "Coral Pixels";
  text-align: center;
}

footer .wrapper {
  font-size: 0.8em;
  color: rgb(166, 166, 166);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
}

/* =========================
   Blockquotes
   ========================= */
blockquote {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5;
  color: inherit;
  font-family: inherit;
  border-left: 4px solid #575757;
  letter-spacing: inherit;
  padding-left: 1em;
  margin: 1em 0;
}

/* =========================
   Posts list
   ========================= */
.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list > li {
  margin: 0 0 .5rem 0;
}

.post-link {
  font-size: 1em;
  display: block;
  padding: .1rem 0;
  color: rgb(0, 121, 130);
  text-decoration: none;
}

.post-link:visited {
  color: rgb(0, 121, 130);
}

.post-date {
  margin-left: 1em;
  font-size: .85em;
  font-style: italic;
  color: #515151;
}

.post-list > li:hover .post-link,
.post-list > li:hover .post-date {
  color: rgb(156, 203, 206) !important;
  text-decoration: none !important;
  transition: linear 0.1s;
}

.post-header {
  margin-top: 30px;
}

.post-header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 80%;
    display: inline;
    font-weight: 550;
    font-family: "";
}

.post-header .post-meta {
    font-family: 'Noto Serif Display';
    display: inline-block;
    text-align: left;
    line-height: 80%;
    font-family: "";
    color: black;
    margin-left: 0em;
    font-size: 9pt;

}

.leaflet-tile {
  image-rendering: pixelated !important;
  image-rendering: crisp-edges !important;
}


.thought {
  font-style: italic;
  opacity: 0.7; /* optional for a subtle aside feel */
}