<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[', '\\]']]
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
<script type="module" src="{{ '/assets/margin-notes.js' | relative_url }}"></script>
<script type="module" src="{{ '/assets/sms-chat.js' | relative_url }}"></script>
<script src="{{ '/assets/annotations.js' | relative_url }}"></script>
  <body>
    <div class="annot-wrapper">
        {{ content }}
    </div>
    {%- include footer.html -%}
  </body>

</html>